*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courgette', cursive;
}

body {
    background: linear-gradient(to right bottom, #B1DAE7, #3CA1AC ) fixed;
    height: 100vh;
}

.container {
    position: absolute;
    width: 80vw;
    height: 110vh;
    display: flex;
    left: 10%;
    top: 10%;
    bottom: 10%;
    margin-bottom: 10%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3));
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2),
    0px 0px 50px rgba(0, 0, 0, .2);
    border-radius: 5rem;
    backdrop-filter: blur(1.5rem);
}

main {
    display: flex;
}

h1 {
    font-size: 3rem;
    text-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2),
    0px 0px 50px rgba(0, 0, 0, .2);
    color: #00FF00;
}

h2 {
    font-size: 1.25rem;
    /*color: #00FA9A;*/
    color: black;
}

h3 {
    font-size: .8rem;
    /*color: #00FA9A;*/
    color: black;
}

.intro {
    font-size: 18px;
    color: gray;
    margin-top: -100px;
    margin-left: 12rem;
}

.circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: linear-gradient(to right, #66FFFF, #CC33FF);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2),
    0px 0px 50px rgba(0, 0, 0, .2);  
    align-items: center;
    display: flex;
    justify-content: center;
    margin-inline: .5rem;
    text-align: center;
}

.card {
    position: absolute;
    z-index: 10;
    left: 5%;
    top: 5%;
}

.bar {
    display: flex;
    justify-content: space-between;
}

.mainText {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2),
    0px 0px 50px rgba(0, 0, 0, .2);
}

a {
    text-decoration: none;
    color: black;
}

p,li{
    font-size: 14px;
    color: black;
    margin-top: 10px;
    margin-right: 18px;
}

img {
    margin-top: 1.5rem;
    margin-right: 3rem;
}